    <!-- ================================ STARTS Footer Area ================================ -->

    <footer class="footer-area">
        <div class="container">
          <div class="">
            <div class="site-logo text-center">
              <a href="#"><img src="img/Amrendram logo.png" alt="logo" /></a>
            </div>
            <div class="social text-center">
              <h5 class="text-uppercase">Follow Me</h5>
              <a href="https://www.facebook.com/kumar.amrendram7/"
                ><i class="fab fa-facebook"></i
              ></a>
              <a href="https://www.instagram.com/amrendram_/"
                ><i class="fab fa-instagram"></i
              ></a>
              <a href="https://github.com/KumarAmrendram"
                ><i class="fab fa-github"></i
              ></a>
              <a href="https://www.linkedin.com/in/kumar-amrendram-178457194/"
                ><i class="fab fa-linkedin-in"></i
              ></a>
              <a href="https://twitter.com/Theamrendram"
                ><i class="fab fa-twitter"></i
              ></a>
            </div>
            <copyrights class="text-center">
              <p class="para">| Copyright ©2022 All rigths reserved |</p>
            </copyrights>
          </div>
        </div>
      </footer>
      <!-- ================================ ENDS Footer Area ================================ -->
  
      <!-- Jqurey js file -->
      <script src="JS/jquery.3.6.0.js"></script>
      <!-- Bootstrap js file -->
      <script src="JS/bootstrap.min.js"></script>
      <!-- isotop library -->
      <script src="vendor/isotope/isotope.min.js"></script>
  
      <!-- Magnific Popup js file -->
      <script src="vendor/Magnific-Popup/dist/jquery.magnific-popup.min.js
      "></script>
      <!-- Custom Javascript-->
      <script src="JS/main.js"></script>
    </body>
  </html>
  