<%- include('partials/header') %>


    <!-- ================================ Start Main area ================================ -->
    <main class="site-main">
        <!-- ================================ Start Banner area ================================ -->
        <section class="site-banner">
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-12 site-title">
                <h3 class="title-text">Hey!</h3>
                <h1 class="title-text text-uppercase">I am Amrendram</h1>
                <h4 class="title-text">Full Stack Developer</h4>
                <div class="site-buttons">
                  <!-- <div class="d-flex flex-row flex-wrap">
                    <a href="https://www.upwork.com/freelancers/~01296e66c76b9a01d1"><button type="button" class="btn button primary-button text-uppercase">Hire Me</button></a>
                    <a href="https://drive.google.com/file/d/1pdeDGU9CjBVm_lJDu88nxTFX3WrWXu36/view?usp=sharing">
                      <button type="button"class="btn button secondary-button ms-4 text-uppercase">Get CV</button>
                    </a>
                  </div> -->
                </div>
              </div>
              <div class="col-lg-6 col-md-12 banner-image">
                <img
                  src="img/banner.png"
                  alt="banner-img"
                  class="banner-img img-fluid"
                />
              </div>
            </div>
          </div>
        </section>
        <!-- ================================ End Banner area ================================ -->
  
        <!-- ================================ About area ================================ -->
        <section class="about-area">
          <div class="container-fluid">
            <div class="row">
              <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="about-img">
                  <img
                    src="img/resume.png"
                    alt="resume image"
                    class="img-fluid"
                  />
                </div>
              </div>
              <div class="col-lg-6 col-md-12 col-sm-12 about-title">
                <h2 class="text-uppercase">
                  <span>Let me <br />Introduce</span>
                  <span>Myself</span>
                </h2>
                <div class="paragraph">
                  <p class="para">
                    My name is Amrendram. I help people to go online. I build website for them. My hometown is Delhi, but I call my places home.
                    My hobbies are <b>reading</b> and <b>coding,</b> and my favourite superhero is <b>BatMan</b>.
                  </p>
                  <p class="para">
                    by the for taking the time to visit. I specialize in <b><i>simple, effective, user-centrice</i></b>
                    design solutions. Fill your sense with <b><a href="#project-area" class="" style="color: #00ADB5;">highlight of work</a></b>,
                    read the juicy bits <b><a href="/about" class="" style="color: #00ADB5;">about me</a></b>,
                    or find out why you should <b><a href="" class="" style="color: #00ADB5;">hire me</a></b> 

                  </p>
                </div>
                <button type="button" class="btn button primary-button text-uppercase">Download CV</button>
              </div>
            </div>
          </div>
        </section>
        <!-- ================================ About area ends ================================ -->
  
        <!-- ================================ Project Area ================================ -->
        <section class="project-area">
          <div class="container">
            <div class="project-title pb-5">
              <h1 class="text-uppercase title-h1">Recently Done Projects</h1>
            </div>
            <div class="container">
              <div class="row button-group">
                <button
                  type="button" class="col-lg-2 col-md-3 col text-uppercase text-left active">All</button>

                <button type="button"class="col-lg-2 col-md-3 col text-uppercase text-left"
                  data-filter=".popular">popular</button>

                <button type="button"class="col-lg-2 col-md-3 col text-uppercase text-left"
                data-filter=".latest">latest</button>
                <button type="button"class="col-lg-2 col-md-3 col text-uppercase text-left"
                  data-filter=".following">following </button>

                <button type="button"class="col-lg-2 col-md-3 col text-uppercase text-left"
                  data-filter=".upcoming">upcoming</button>
              </div>
            </div>
  
            <div class="row grid">
              <div class="col-lg-4 col-md-6 element-item project-image latest">
                <div class="our-project">
                  <div class="img">
                    <a class="test-popup-link" href="img/banner.png"><img src="img/banner.png" alt="" /></a>
                  </div>
                  <div class="title py-4">
                    <h4 class="text-uppercase">Minimal</h4>
                    <span class="text-secondary">Latest, Portfolio</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 element-item project-image popular">
                <div class="our-project">
                  <div class="img"><a class="test-popup-link" href="img/banner.png"><img src="img/banner.png" alt="" /></a>
                  </div>
                  <div class="title py-4">
                    <h4 class="text-uppercase">Design</h4>
                    <span class="text-secondary">Popular, Portfolio</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 element-item project-image">
                <div class="our-project">
                  <div class="img"><a class="test-popup-link" href="img/banner.png"><img src="img/banner.png" alt="" /></a>
                  </div>
                  <div class="title py-4">
                    <h4 class="text-uppercase">Female Light</h4>
                    <span class="text-secondary">Popular, Portfolio</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 element-item project-image popular">
                <div class="our-project">
                  <div class="img">
                    <a class="test-popup-link" href="img/drum-kit-project.png"><img id="drum-kit" src="img/drum-kit-project.png" alt="" /></a>
                  </div>
                  <div class="title py-4">
                    <a href="https://kumaramrendram.github.io/Drum-Kit/">
                      <h4 class="text-uppercase ">Drum-Kit</h4>
                    </a>
                    <span class="text-secondary">Popular, Portfolio</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 element-item project-image following">
                <div class="our-project">
                  <div class="img">
                    <a class="test-popup-link" href="img/banner.png">
                      <a href="https://cryptic-shelf-55041.herokuapp.com/"><img src="img/TodoList.png" alt="" /></a>
                    </a>
                  </div>
                  <div class="title py-4">
                    <h4 class="text-uppercase">To Do List</h4>
                    <span class="text-secondary">Following, Portfolio</span>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 element-item project-image upcoming">
                <div class="our-project">
                  <div class="img">
                    <a class="test-popup-link" href="img/banner.png">
                      <img src="img/banner.png" alt="" />
                    </a>
                  </div>
                  <div class="title py-4">
                    <h4 class="text-uppercase">Portfolio</h4>
                    <span class="text-secondary">Upcoming, Portfolio</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- ================================ End Project Area ================================ -->
  
        <!-- ================================ Subscribe me Area ================================ -->
  
        <section class="subscribe-us-area">
          <div class="container subscribe">
            <div class="row">
              <div class="col-lg-12 text-center subscribe-title">
                <h4 class="text-uppercase">Get update from anywhere</h4>
                <p class="para">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut,
                  nulla?
                </p>
              </div>
            </div>
            <div>
              <form>
                <div class="form">
                  <input
                    type="email"
                    id="txtemail"
                    class="form-control"
                    placeholder="E-mail"
                  />
                  <div>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </section>
        <!-- ================================ End Subscribe me Area ================================ -->
      </main>
      <!-- ================================ End main area ================================ -->
  
  
















<%- include('partials/footer') %>
